<div class="main-content">
    <div class="container-fluid">
        <div class="offset-lg-4 offset-md-2 col-lg-4 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">Login</h3>
                </div>
                <div class="card-body">
                    <form name="form" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <input matInput type="text" name="username" [(ngModel)]="user.username"
                                           required placeholder="Username"/>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field>
                                    <input matInput type="password" name="password" [(ngModel)]="user.password"
                                           required placeholder="Password"/>
                                </mat-form-field>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Login</button>
                        <div class="clearfix"></div>
                    </form>
                    <div *ngIf="errorMessage" class="mb-2 mt-3 alert alert-danger">
                        {{errorMessage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>