<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright text-center">
            &copy; Jona Borishi -
            {{date_footer | date: 'yyyy'}}
        </div>
    </div>
</footer>
