<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">Search Posts</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm" (ngSubmit)="searchPost()" autocomplete="off">
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <input matInput formControlName="post_id" name="post_id"
                                           required placeholder="Search by ID">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-primary pull-right">Search
                        </button>
                        <div class="clearfix"></div>
                    </form>
                    <app-message></app-message>
                </div>
            </div>

            <div class="card" *ngIf="posts">
                <div class="card-body" *ngFor="let post of posts">
                    <app-post-details [post] ='post'></app-post-details>
                </div>
            </div>
        </div>
    </div>
</div>