<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-3">
            <h2>Welcome {{username}}!</h2>
            <app-message></app-message>
        </div>
    </div>
</div>