<div class="card-body">
    <form (ngSubmit)="processForm()" autocomplete="off">
        <div class="row">
            <div class="col-12">
                <mat-form-field>
                    <input matInput required [(ngModel)]="post.title" name="title" placeholder="Title">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field>
                    <textarea matInput required [(ngModel)]="post.text" name="text" rows="7"
                              placeholder="Post Content"></textarea>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
        </button>
        <div class="clearfix"></div>
    </form>
    <app-message></app-message>
</div>