<div *ngIf="post">
    <h4>Post ID: {{post.id}}</h4>
    <h3 class="card-title">Title: {{post.title}}</h3>
    <p>{{post.text}}</p>
    <hr>
    <p class="mb-0">Created : {{post.insertDate | date: 'dd/MM/yyyy - HH:mm'}}<br/>
        Updated : {{post.updateDate | date: 'dd/MM/yyyy - HH:mm'}}</p>
</div>