<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Post</h4>
                    </div>
                    <app-post-form></app-post-form>
                </div>
            </div>
        </div>
    </div>
</div>
