<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" *ngIf="posts?.length>0">
                    <div class="card-header card-header-primary">
                    <h3 class="card-title">Posts List</h3>
                    <p class="card-category"> {{date_posts | date: 'dd/MM/yyyy'}}</p>
                </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                            <th>ID</th>
                            <th>Title</th>
                            <th colspan="2">Actions</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let post of posts">
                                <td>{{post.id}}</td>
                                <td class="w-75">{{post.title}}</td>
                                <td class="td-actions">
                                    <button mat-raised-button type="button" matTooltip="Edit Post"
                                            [matTooltipPosition]="'above'" (click)="updatePost(post)"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Delete Post"
                                            [matTooltipPosition]="'above'" (click)="openConfirmDialog(post)"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <app-message></app-message>
            </div>
        </div>
    </div>
</div>
